body {
    background-color: #f0ffff;
}
.form1 {
    position: absolute;
    bottom: 65px;
    left: 0;
    right: 0;
    height: 60px;
    padding: 5px;
}

.form2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    padding: 5px;
}

.header {
    height: 71px;
    padding: 5px;
}
.messages {
    position: absolute;
    top: 160px;
    left: 5px;
    right: 300px;
    padding: 5px;
    bottom: 130px;
    overflow-y: scroll;
    border: 1px solid black;
    background-color: lightyellow;
}
.form label {
    display: block;
    color: #f7861f;
}
.form input {
    height: 30px;
}
.form input[type=text] {
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.form input[type=button] {
    float: right;
    margin: 0 5px;
    width: 50px;
    /*border: 1px solid #d3d3d3;*/
    border: 0;
    border-radius: 4px;
    background-color: #5e79cb;
    color: white;
    transition: background-color 500ms;
}
.form input[type=button]:hover {
    background-color: #679af5;
}
.form .input-container {
    margin-right: 60px;
}
